<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /applications/php/ci-3/ticket-booking-system/
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php/$1 [L]
</IfModule>
